@using Capstone.Models
@model DashboardModel
@{
    ViewBag.Title = "Dashboard";
}


@Styles.Render("~/Style/Dashboard.css")
<link href="~/Content/bootstrap.css" rel="stylesheet" />

<div id="MainPage">
    <nav id="LeftPanel">
        <div class="LeftPanelBorder" id="UserInfoContainer">
            <div id="UserInfo">
                <img id="profilePic" src="https://image.freepik.com/free-icon/male-user-profile-picture_318-37825.jpg" /><br /><br />
                <label>Kalen Rose</label><br />
                <label>CEO</label><br />
                <label>2018-09-20</label>
            </div>
        </div>

        <div class="LeftPanelBorder" id="ProjectListContainer">
            <div id="ProjectList">
                <label>Projects</label> <br />
                @foreach (var project in Model.Projects)
                {
                    <button class="ProjectButtons" btn-secondary">@project.Title</button>;
                }
            </div>
        </div>
    </nav>


    <header>
        <div id="headings">
            <h2>Personal Dashboard</h2>
            <h3>Here's an overview of your projects</h3>
        </div>

        <form id="projectselection" class="text-center">
            <label class="radio-inline">
                <input type="radio" name="optradio" checked>All
            </label>

            @foreach (var project in Model.Projects) { 
                <label class="radio-inline">
                    <input type="radio" name="optradio">@project.Title
                </label>
            }
        </form>
    </header>


    <div id="TasksSection">
        <label>Tasks</label>
        <table class="table table-hover">
            <tr>
                <th scope="col">Tasks</th>
                <th scope="col">Priority</th>
                <th scope="col">Date</th>
                <th scope="col">Status</th>
                <th scope="col">Project</th>
            </tr>
            <tbody>
               
                    @foreach (var project in Model.Projects){
                        foreach (var task in project.Tasks){
                             <tr>
                            <td>@task.Title</td>
                            <td>@task.Priority</td>
                            <td>@task.DueDate.ToString("MM/dd/yyyy")</td>
                            <td>@task.Status</td>
                            <td>@project.Title</td>
                                 </tr>
                        }

                }
            </tbody>
        </table>
    </div>

    <div id="TaskOverviewSection">
        <img src="https://www.patternfly.org/pattern-library/data-visualization/pie-chart/img/right-legend-pie-chart.png" />
    </div>

    <div id="PersonalNotesSection">
        <div id="PersonalNotesTable">
            <label>Personal Notes</label>
            <table class="table table-hover">
                <tr>
                    <th>Date</th>
                    <th>Note</th>
                </tr>
                @foreach (var note in Model.CurrentUser.PersonalNotes)
                {
                    <tr>
                        <td>@note.TimeStamp.ToString("MM/dd/yyyy")</td>
                        <td>@note.Information</td>
                    </tr>
                }
            </table>
        </div>
        <div id="PersonalNotesButtonsContainer" class="btn-group">
            <button type="button" class="btn btn-primary btn-lg">Modify</button>
            <button type="button" class="btn btn-success btn-lg">Add</button>
            <button type="button" class="btn btn-danger btn-lg">Delete</button>
        </div>
    </div>
    <div class="ProgressBarContainer">
        <label>Tasks Completed</label>
        <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" style="width: 70%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">70%</div>
        </div>
        <text class="text-large">7/10</text><br />
        <text class="text-medium text-secondary">3 tasks remaining</text>
    </div>

    <div class="ProgressBarContainer">
        <label>Storage Used</label>
        <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" style="width: 10%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">10%</div>
        </div>
        <text class="text-large">100/1000 GB</text><br />
        <text class="text-medium text-secondary">900GB remaining</text>
    </div>
</div>